/* Stuck menu styles
========================================================*/
.isStuck {
  z-index: 999;
  position: fixed;
  left: 0;
}
@media only screen and (max-width: 979px) {
  .isStuck {
    display: none !important;
  }
}
